<section>
  <div class="page-header">
    <h1>{{vm.graph.name}}</h1>
  </div>
  <div class="col-md-12">
    <div class="btn-toolbar">
      <div ng-controller="ArrangeGraphController as arrangeVm" class="btn-group btn-group-md">
        <button class="btn btn-default" ng-click="arrangeVm.arrangeAsCircle()">
          <div class="icon arrange-as-circle-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="arrangeVm.arrangeAsGrid()">
          <div class="icon arrange-as-grid-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="arrangeVm.arrangeAsLinearTree()">
          <div class="icon arrange-as-linear-tree-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="arrangeVm.arrangeAsRadialTree()">
          <div class="icon arrange-as-radial-tree-icon"></div>
        </button>
        <button class="btn btn-default" ng-disabled="arrangeVm.isArranging" ng-click="arrangeVm.arrangeAsForces()">
          <div class="icon arrange-as-forces-icon"></div>
        </button>
      </div>
      <div ng-controller="AlignGraphController as alignVm" class="btn-group btn-group-md">
        <button class="btn btn-default" ng-click="alignVm.alignHorizontally()">
          <div class="icon align-horizontally-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="alignVm.alignVertically()">
          <div class="icon align-vertically-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="alignVm.distributeHorizontally()">
          <div class="icon distribute-horizontally-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="alignVm.distributeVertically()">
          <div class="icon distribute-vertically-icon"></div>
        </button>
      </div>
      <div ng-controller="RotateGraphController as rotateVm" class="btn-group btn-group-md">
        <button class="btn btn-default" ng-click="rotateVm.rotateLeft()">
          <div class="icon rotate-left-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="rotateVm.rotateRight()">
          <div class="icon rotate-right-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="rotateVm.flipHorizontally()">
          <div class="icon flip-horizontally-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="rotateVm.flipVertically()">
          <div class="icon flip-vertically-icon"></div>
        </button>
      </div>
      <div ng-controller="ScaleGraphController as scaleVm" class="btn-group btn-group-md">
        <button class="btn btn-default" ng-click="scaleVm.contract()">
          <div class="icon contract-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="scaleVm.expand()">
          <div class="icon expand-icon"></div>
        </button>
      </div>
      <div ng-controller="DecorateGraphController as decorateVm" class="btn-group btn-group-md">
        <button class="btn btn-default" ng-click="decorateVm.toggleVertexLabels()">
          <div class="icon toggle-vertex-labels-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="decorateVm.toggleVertexWeights()">
          <div class="icon toggle-vertex-weights-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="decorateVm.toggleEdgeHandles()">
          <div class="icon toggle-edge-handles-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="decorateVm.toggleEdgeLabels()">
          <div class="icon toggle-edge-labels-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="decorateVm.toggleEdgeWeights()">
          <div class="icon toggle-edge-weights-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="decorateVm.toggleCaptionHandles()">
          <div class="icon toggle-caption-handles-icon"></div>
        </button>
      </div>
      <div ng-controller="ZoomGraphController as zoomVm" class="btn-group btn-group-md">
        <button class="btn btn-default" ng-click="zoomVm.fitGraph()">
          <div class="icon fit-graph-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="zoomVm.resetZoom()">
          <div class="icon reset-zoom-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="zoomVm.zoomIn()">
          <div class="icon zoom-in-icon"></div>
        </button>
        <button class="btn btn-default" ng-click="zoomVm.zoomOut()">
          <div class="icon zoom-out-icon"></div>
        </button>
      </div>
    </div>
    <br>
    <svg class="viewport" tabindex="0"
        msd-wheel="vm.onWheel($event, $delta, $deltaX, $deltaY)"
        ng-mousedown="vm.onViewportMousedown($event)"
        ng-mousemove="vm.onViewportMousemove($event)"
        ng-mouseup="vm.onViewportMouseup($event)"
        ng-dblclick="vm.onViewportDblClick($event)">
      <defs>
        <marker ng-if="::vm.graph.allowDirectedEdges" id="arrow" class="arrow" orient="auto"
            refX="10" refY="4" markerWidth="10" markerHeight="8">
          <path d="M-.5,1 L8,4 L-.5,7 z"/>
        </marker>
      </defs>
      <g ng-attr-transform="{{vm.transform | svgMatrix}}">
        <!-- Edges -->
        <g ng-repeat="(id, edge) in vm.graph.edges track by id"
            ng-attr-class="{{'edge' + (edge.isSelected ? ' selected' : '')}}">
          <path ng-attr-stroke="{{edge.color}}" ng-attr-stroke-width="{{edge.thickness}}"
              ng-attr-marker-end="{{::edge.isDirected ? 'url(' + vm.urlPath + '#arrow)' : null}}"
              ng-attr-d="{{edge | edgePath}}">
            <title ng-if="edge.label">{{edge.label}}</title>
          </path>
          <circle ng-attr-r="{{1.75 * edge.thickness}}" ng-attr-fill="{{edge.color}}"
              ng-attr-cx="{{edge.handle.x}}" ng-attr-cy="{{edge.handle.y}}"
              ng-mousedown="vm.onEdgeMousedown(edge, $event)">
          </circle>
          <text ng-if="edge.label"
              ng-attr-x="{{edge.handle.x + 1.75 * edge.thickness + 1}}"
              ng-attr-y="{{edge.handle.y + 1.75 * edge.thickness + 1}}">
            {{edge.label}}
          </text>
        </g>
        <!-- Vertices -->
        <g ng-repeat="(id, vertex) in vm.graph.vertices track by id"
            ng-attr-class="{{'vertex' + (vertex.isSelected ? ' selected' : '')}}">
          <circle ng-attr-r="{{vertex.radius}}" ng-attr-fill="{{vertex.color}}"
              ng-attr-cx="{{vertex.x}}" ng-attr-cy="{{vertex.y}}"
              ng-mousedown="vm.onVertexMousedown(vertex, $event)"
              ng-mouseup="vm.onVertexMouseup(vertex, $event)">
            <title ng-if="vertex.label">{{vertex.label}}</title>
          </circle>
          <text ng-if="vertex.label"
              ng-attr-x="{{vertex.x + vertex.radius + 1}}"
              ng-attr-y="{{vertex.y + vertex.radius + 1}}">
            {{vertex.label}}
          </text>
        </g>
        <!-- Captions -->
        <g ng-repeat="(id, caption) in vm.graph.captions track by id"
            ng-attr-class="{{'caption' + (caption.isSelected ? ' selected' : '')}}">
          <text ng-attr-font-size="{{caption.fontSize}}"
              ng-attr-x="{{caption.x + 4.5}}" ng-attr-y="{{caption.y + 3}}">
            {{caption.label}}
          </text>
          <circle ng-attr-fill="{{caption.color}}"
              ng-attr-cx="{{caption.x}}" ng-attr-cy="{{caption.y}}"
              ng-mousedown="vm.onCaptionMousedown(caption, $event)">
          </circle>
        </g>
      </g>
      <polygon ng-attr-class="{{'selection' + (vm.isSelectionShown ? ' shown' : '')}}"
          ng-attr-points="{{vm.selectionStartPoint.x}},{{vm.selectionStartPoint.y}}
                          {{vm.selectionEndPoint.x}},{{vm.selectionStartPoint.y}}
                          {{vm.selectionEndPoint.x}},{{vm.selectionEndPoint.y}}
                          {{vm.selectionStartPoint.x}},{{vm.selectionEndPoint.y}}">
      </polygon>
    </svg>
    <br>
    <div class="btn-toolbar">
      <div ng-controller="SelectGraphToolController as toolVm" class="btn-group btn-group-md">
        <button class="btn btn-default" ng-class="{active: vm.tool == 'cursor'}"
            ng-click="toolVm.selectTool('cursor')">
          <div class="icon cursor-tool-icon"></div>
        </button>
        <button class="btn btn-default" ng-class="{active: vm.tool == 'graph'}"
            ng-click="toolVm.selectTool('graph')">
          <div class="icon graph-tool-icon"></div>
        </button>
        <button class="btn btn-default" ng-class="{active: vm.tool == 'caption'}"
            ng-click="toolVm.selectTool('caption')">
          <div class="icon caption-tool-icon"></div>
        </button>
        <button class="btn btn-default" ng-class="{active: vm.tool == 'cut'}"
            ng-click="toolVm.selectTool('cut')">
          <div class="icon cut-tool-icon"></div>
        </button>
        <button class="btn btn-default" ng-class="{active: vm.tool == 'paint'}"
            ng-click="toolVm.selectTool('paint')">
          <div class="icon paint-tool-icon"></div>
        </button>
      </div>
    </div>
    <br>
    <button ng-click="vm.onSave()">Save</button>
  </div>
</section>
