<section>
  <div class="page-header">
    <h1>{{vm.graph.name}}</h1>
  </div>
  <div class="col-md-12">
    <div ng-controller="ArrangeGraphController as arrangeVm" class="btn-toolbar">
      <div class="btn-group btn-group-lg">
        <button class="btn btn-default" ng-click="arrangeVm.arrangeAsCircle()">Circle</button>
        <button class="btn btn-default" ng-click="arrangeVm.arrangeAsGrid()">Grid</button>
        <button class="btn btn-default" ng-click="arrangeVm.arrangeAsLinearTree()">Linear tree</button>
        <button class="btn btn-default" ng-click="arrangeVm.arrangeAsRadialTree()">Radial tree</button>
        <button class="btn btn-default" ng-click="arrangeVm.arrangeAsForces()">Forces</button>
      </div>
    </div>
    <br>
    <svg class="viewport" tabindex="0"
        msd-wheel="vm.onWheel($event, $delta, $deltaX, $deltaY)"
        ng-mousedown="vm.onViewportMousedown($event)"
        ng-mousemove="vm.onViewportMousemove($event)"
        ng-mouseup="vm.onViewportMouseup($event)"
        ng-dblclick="vm.onViewportDblClick($event)">
      <defs>
        <marker ng-if="::vm.graph.allowDirectedEdges" id="arrow" class="arrow" orient="auto"
            refX="10" refY="4" markerWidth="10" markerHeight="8">
          <path d="M-.5,1 L8,4 L-.5,7 z"/>
        </marker>
      </defs>
      <g ng-attr-transform="{{vm.transform | svgMatrix}}">
        <!-- Edges -->
        <g ng-repeat="(id, edge) in vm.graph.edges track by id"
            ng-attr-class="{{'edge' + (edge.isSelected ? ' selected' : '')}}">
          <path ng-attr-stroke="{{edge.color}}" ng-attr-stroke-width="{{edge.thickness}}"
              ng-attr-marker-end="{{::edge.isDirected ? 'url(' + vm.urlPath + '#arrow)' : null}}"
              ng-attr-d="{{edge | edgePath}}">
            <title ng-if="edge.label">{{edge.label}}</title>
          </path>
          <circle ng-attr-r="{{1.75 * edge.thickness}}" ng-attr-fill="{{edge.color}}"
              ng-attr-cx="{{edge.handle.x}}" ng-attr-cy="{{edge.handle.y}}"
              ng-mousedown="vm.onEdgeMousedown(edge, $event)">
          </circle>
          <text ng-if="edge.label"
              ng-attr-x="{{edge.handle.x + 1.75 * edge.thickness + 1}}"
              ng-attr-y="{{edge.handle.y + 1.75 * edge.thickness + 1}}">
            {{edge.label}}
          </text>
        </g>
        <!-- Vertices -->
        <g ng-repeat="(id, vertex) in vm.graph.vertices track by id"
            ng-attr-class="{{'vertex' + (vertex.isSelected ? ' selected' : '')}}">
          <circle ng-attr-r="{{vertex.radius}}" ng-attr-fill="{{vertex.color}}"
              ng-attr-cx="{{vertex.x}}" ng-attr-cy="{{vertex.y}}"
              ng-mousedown="vm.onVertexMousedown(vertex, $event)"
              ng-mouseup="vm.onVertexMouseup(vertex, $event)">
            <title ng-if="vertex.label">{{vertex.label}}</title>
          </circle>
          <text ng-if="vertex.label"
              ng-attr-x="{{vertex.x + vertex.radius + 1}}"
              ng-attr-y="{{vertex.y + vertex.radius + 1}}">
            {{vertex.label}}
          </text>
        </g>
        <!-- Captions -->
        <g ng-repeat="(id, caption) in vm.graph.captions track by id"
            ng-attr-class="{{'caption' + (caption.isSelected ? ' selected' : '')}}">
          <text ng-attr-font-size="{{caption.fontSize}}"
              ng-attr-x="{{caption.x + 4.5}}" ng-attr-y="{{caption.y + 3}}">
            {{caption.label}}
          </text>
          <circle ng-attr-fill="{{caption.color}}"
              ng-attr-cx="{{caption.x}}" ng-attr-cy="{{caption.y}}"
              ng-mousedown="vm.onCaptionMousedown(caption, $event)">
          </circle>
        </g>
      </g>
      <polygon ng-attr-class="{{'selection' + (vm.isSelectionShown ? ' shown' : '')}}"
          ng-attr-points="{{vm.selectionStartPoint.x}},{{vm.selectionStartPoint.y}}
                          {{vm.selectionEndPoint.x}},{{vm.selectionStartPoint.y}}
                          {{vm.selectionEndPoint.x}},{{vm.selectionEndPoint.y}}
                          {{vm.selectionStartPoint.x}},{{vm.selectionEndPoint.y}}">
      </polygon>
    </svg>
    <br>
    <label><input type="radio" value="cursor" ng-model="vm.tool"> Cursor</label>
    <label><input type="radio" value="graph" ng-model="vm.tool"> Graph</label>
    <label><input type="radio" value="caption" ng-model="vm.tool"> Caption</label>
    <label><input type="radio" value="cut" ng-model="vm.tool"> Cut</label>
    <label><input type="radio" value="paint" ng-model="vm.tool"> Paint</label>
    <br>
    <button ng-click="vm.onSave()">Save</button>
  </div>
</section>
