<section>
  <div class="page-header">
    <h1>{{vm.graph.name}}</h1>
  </div>
  <div class="col-md-12">
    <svg width="500" height="500" ng-click="vm.foobar($event)">
      <line ng-repeat="edge in vm.graph.edges" class="edge"
          ng-attr-stroke-width="{{edge.thickness}}"
          ng-attr-x1="{{edge.from.x}}" ng-attr-y1="{{edge.from.y}}"
          ng-attr-x2="{{edge.to.x}}"   ng-attr-y2="{{edge.to.y}}">
        <title>{{edge.label}}</title>
      </line>
      <circle ng-repeat="vertex in vm.graph.vertices" class="vertex"
          ng-attr-r="{{vertex.radius}}" ng-attr-fill="{{vertex.color}}"
          ng-attr-cx="{{vertex.x}}" ng-attr-cy="{{vertex.y}}">
        <title>{{vertex.label}}</title>
      </circle>
    </svg>
    <div>{{vm.graph}}</div>
    <button ng-click="vm.save(true)">Save</button>
  </div>
</section>
