<section>
  <div class="page-header">
    <h1>Graphs</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="graph in vm.graphs" ui-sref="graphs.view({ graphId: graph._id })" class="list-group-item">
      <small class="list-group-item-text">
        Created on
        <span ng-bind="graph.created | date:'mediumDate'"></span>
        by
        <span ng-if="graph.user" ng-bind="graph.user.displayName"></span>
        <span ng-if="!graph.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="graph.name"></h4>
      <p class="list-group-item-text" ng-bind="graph.data"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.graphs.$resolved && !vm.graphs.length">
    No graphs yet, why don't you <a ui-sref="graphs.create">create one</a>?
  </div>
</section>
