$fast: 300ms;
$slow: $fast * 2;

@mixin user-select($user-select) {
  -webkit-user-select: $user-select;
     -moz-user-select: $user-select;
      -ms-user-select: $user-select;
          user-select: $user-select;
}

.viewport {
  @include user-select(none);
  cursor: default;
  height: 500px;
  outline: 1px solid #ddd;
  width: 100%;

  .vertex {
    circle {
      stroke-width: 1px;
      stroke: #000;
    }

    &.selected {
      circle {
        fill: #9494CE;
        stroke: #00007F;
      }
    }
  }

  .edge {
    path { fill: none; }

    &.selected {
      path { stroke: #00007F; }
      circle { fill: #00007F; }
    }    
  }

  .caption {
    circle { r: 2.625; }

    &.selected {
      circle { fill: #00007F; }
    }
  }

  .vertex,
  .edge,
  .caption {
    text {
      dominant-baseline: hanging;
      fill: #444;
    }

    &.selected {
      text { fill: #00007F; }
    }
  }

  .selection {
    fill: rgba(150, 150, 255, .4);
    opacity: 0;
    pointer-events: none;
    stroke-linejoin: miter;
    stroke-width: 1;
    stroke: #00007F;
    transition: opacity $fast;

    &.shown {
      opacity: 1;
      transition: none;
    }
  }
}
