@mixin user-select($user-select) {
  -webkit-user-select: $user-select;
     -moz-user-select: $user-select;
      -ms-user-select: $user-select;
          user-select: $user-select;
}

.viewport {
  @include user-select(none);
  cursor: default;
  height: 500px;
  outline: 1px solid #ddd;
  width: 100%;

  .vertex {
    stroke-width: 1px;
    stroke: #000;

    &.selected {
      fill: #9494CE;
      stroke: #00007F;
    }
  }

  .edge {
    fill: none;

    &.selected {
      stroke: #00007F;
    }    
  }

  .handle {
    r: 2.625;

    &.selected {
      fill: #00007F;
    }    
  }

  .caption {
    dominant-baseline: hanging;

    &.selected {
      fill: #00007F;
    }
  }

  .vertex-label,
  .edge-label,
  .caption-label {
    dominant-baseline: hanging;
    fill: #444;

    &.selected {
      fill: #00007F;
    }
  }

  .selection {
    fill: rgba(150, 150, 255, .4);
    stroke-linejoin: miter;
    stroke-width: 1;
    stroke: #00007F;
  }
}
